<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}

    <div class="navigation">
        <nav>
            <img src="/images/logo.png">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">All Courses</a></li>
            {{#if isAuthenticated}}
                <li><a href="/user/profile">Profile</a></li>
                <li><a href="/course/create">Create Course Offers</a></li>
                <li><a href="/user/logout">Logout</a></li>
            {{else}}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
            {{/if}}
            </ul>
        </nav>
    </div>

    <main>
        {{{body}}}
    </main>

    <footer>Back-End 2023</footer>
</body>

</html>